.backtop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgba(39, 195, 147, 0.8);
}

.backtop .iconfont {
  color: #fff;
  font-size: 30px;
}

.backtop-hidden {
  display: none !important;
}
